<div class="card">
  <div class="card-head">Lorem ipsum - Dashboard.</div>
  <div class="card-body">
    <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet consectetur quam explicabo accusantium adipisci
      soluta
      esse quidem, cumque nostrum molestias ad corrupti fugit cupiditate fuga ipsa. Neque accusamus saepe veritatis.
    </span>

    <span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam corrupti numquam repellat eveniet itaque magnam
      perspiciatis accusamus, quia ipsa labore. Dolorem doloribus ullam sit pariatur perspiciatis. Odit accusantium
      consequuntur quia?
    </span>
  </div>
</div>
