<header class="header" [ngClass]="getHeaderClass()">
  <div class="header-content">

    <mat-form-field appearance="outline" floatLabel='always' style="width: 300px;">
      <mat-label>Dealer</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="item" (selectionChange)="onSelectionChange($event)">
        <div class="search">
          <mat-form-field style="width: 300px;">
            <input matInput [(ngModel)]="searchTxt" placeholder="search">
            <mat-icon matSuffix (click)="searchTxt = ''">clear</mat-icon>
          </mat-form-field>
        </div>
        <mat-option *ngFor="let item of items | search : searchTxt" [value]="item.value">
          {{ item.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</header>
