<header class="header">
  <div class="header-dealer">
    <mat-form-field appearance="outline" floatLabel='always' style="width: 300px;" matTooltip="Select Dealer"
      [matTooltipPosition]="'above'">
      <mat-label>Dealer</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="item" (selectionChange)="onSelectionChange($event)">
        <div class="search">
          <mat-form-field style="width: 300px;">
            <input matInput [(ngModel)]="searchTxt" placeholder="search">
            <mat-icon matSuffix (click)="searchTxt = ''">clear</mat-icon>
          </mat-form-field>
        </div>
        <mat-option *ngFor="let item of items | search : searchTxt" [value]="item.value">
          {{ item.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="header-content">
    <div class="menu">
      <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()" [matTooltip]="collapsed ? 'Close menu' : 'Open menu'"
          [matTooltipPosition]="'right'">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
      </div>

      <img *ngIf="screenWidth > 768" src="assets/angular.png" alt="Logotipo" width="200">
    </div>

    <div>texto</div>

    <div *ngIf="false">select opcional</div>
  </div>
</header>
